
<% include partials/header %>
<h1>Create a new Camptround</h1>

<form action="/campgrounds" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="imageurl" name="image">
  <button type="submit">Add a Campground</button>
</form>
<% include partials/footer %>